<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Username & Password </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css"
        integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <div class="container">
       <div th:if="${error !=null}" >
            <div class="alert alert-danger" role="alert">
                <p>Invalid login</p>
            </div>
        </div> 
        <div class="row">
            <div class="col">
                <h1> Login  </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="get" action="/login">
                    

                    <div class="mb-3">
                        <label for="q">Username</label>
                        <input type="text" name="username" id="q" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="q">Password</label>
                        <input type="password" name="password" id="q" class="form-control" required minlength="8">
                    </div>
                    


                    <div class="mb03 d-flex justify-content-end">
                        <button type="submit" class="btn btn-info btn-lg">
                            Login
                        </button>
                    </div>
                </form>
               
            </div>
        </div>

        <div class="row">
            <div class="col">
                    <div class="mb03 d-flex justify-content-end">
                        <form method ="post" action="/createUser">
                        <button type="submit" class="btn btn-info btn-lg mt-1">
                            Create User
                        </button>
                     </form> 
                    </div>
                
               
            </div>
        </div>
    
</body>
</html>