<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Dog Search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css"
        integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1> Search for your favorite dog</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
               
                <form method="GET" action="/search">
                    <div class="mb-3">
                        <label for="q">Search via breed</label>
                        <input type="text" name="breedName" id="q" class="form-control" required>
                    </div>
                    <div class="mb03 d-flex justify-content-end">
                    
                        <button type="submit" class="btn btn-info btn-lg">
                            Search
                        </button>
                    </div>
                </form>
                <br>

                <h3>Or</h3>
                <form method="GET" action="/random">
                    <div class="mb03 d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-lg">
                            Generate a random Dog
                        </button>
                    </div>
                </form>
                <br>
                <form method="GET" action="/history">
                    <div class="mb03 d-flex justify-content-center">
                        <button type="submit" class="btn btn-info btn-lg">
                            View latest search history
                        </button>
                    </div>
                </form>
                <br>
                <form method="GET" action="/logout">
                    
                    <div class="mb03 d-flex justify-content-center">
                    
                        <button type="submit" class="btn btn-info btn-lg">
                            Logout
                        </button>
                    </div>
                </form>


            </div>
        </div>
</body>

</html>