<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search History</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css"
        integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Latest Dog Search History</h1>
            </div>
        </div>
        
        <div th:each="dog : ${dogs}">

        <div class="row mb-3" th:if="${dog.imageUrl != null}">
                <img data-th-src="${dog.imageUrl}" class="img-fluid" height="400px" width="400px">
        </div>
      
        
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="row" style="text-align:centre">
                  <p data-th-text="${dog.dogName} ?: 'Not available'"></p>  </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Height(cm):</th>
                <td data-th-text="${dog.dogHeight} ?: 'Not available'"></td> 
        
              </tr>
              <tr>
                <th scope="row">Weight(kg):</th>
                <td data-th-text="${dog.dogWeight} ?: 'Not available'"></td> 
                
              </tr>
              <tr>
                <th scope="row">Bred purpose:</th>
                <td data-th-text="${dog.bredPurpose} ?: 'Not available'"></td>
              </tr>

              <tr>
                <th scope="row">Breed group:</th>
                <td data-th-text="${dog.breedGroup} ?: 'Not available'"></td>
              </tr>

              <tr>
                <th scope="row">Lifespan:</th>
                <td data-th-text="${dog.lifeSpan} ?: 'Not available'"></td>
              </tr>

              <tr>
                <th scope="row">Temperament:</th>
                <td data-th-text="${dog.temperament} ?: 'Not available'"></td>
              </tr>

            </tbody>
        </table>
      </div>
        
        <div class="row mt-3 mb-5">
            <div class="col d-flex justify-content-end">
              <button onclick="history.back()" class="btn btn-info btn-lg">Go Back</button>
            </div>
        </div>

    </div>
    
</body>
</html>